<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/inventario.css">
    <title>Papelería - La bendición de Dios</title>
</head>
<body>
    <header class="header">
        <div class="header__slogan">
            <p class="header__texto">Papelería y café internet | La bendición de Dios</p>
        </div>
        <nav class="nav">
            <div class="nav__links">
                <a class="nav__link" href="reportes.html"><img class="nav__link--icono" src="../public/img/hugeicons_apple-stocks.svg" alt="">Reportes</a>
                <a class="nav__link" href="ventas.html"><img class="nav__link--icono" src="../public/img/solar_sale-square-linear.svg" alt="">Ventas</a>
                <a class="nav__link" href="inventario.html"><img class="nav__link--icono" src="../public/img/hugeicons_shutterstock.svg" alt="">Invetario</a>
            </div>
            <div class="nav__logout">
                <a class="nav__logout--link" href="../index.html"><img class="nav__logout--icono" src="../public/img/akar-icons_link-out.svg" alt="">Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main class="contenedor__principal">
        <section class="herramientas">
            <div class="herramienta">
                <a class="herramienta__descarga" href="#"><img src="../public/img/uil_down-arrow.svg" alt="dscarga"></a>
            </div>
            <div class="herramienta__adicional">
                <a class="herramienta__filtro" href="#"><img src="../public/img/fe_filter.svg" alt="filtro"></a>
                <a class="herramienta__nuevo" href="../views/agregarProducto.html"><img class="herramienta__nuevo--imagen" src="../public/img/Group 1.svg" alt="crea nuevo"><span>Crear Producto</span></a>
            </div>
        </section>

        <section class="contenedor-tabla">
            <table class="tabla">
                <tr>
                    <th class="tabla__titulo">ID</th>
                    <th class="tabla__titulo">Productos</th>
                    <th class="tabla__titulo">Descripción</th>
                    <th class="tabla__titulo">Cantidad</th>
                    <th class="tabla__titulo">Precio</th>
                    <th class="tabla__titulo">Acciones</th>
                </tr>
                <tr>
                    <td class="tabla__primario">1</td>
                    <td class="tabla__primario">Lapiz</td>
                    <td class="tabla__primario">Kilometrico Negro</td>
                    <td class="tabla__primario">3</td>
                    <td class="tabla__primario">$10000</td>
                    <td class="tabla__botones tabla__primario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__secundario">1</td>
                    <td class="tabla__secundario">Lapiz</td>
                    <td class="tabla__secundario">Kilometrico Negro</td>
                    <td class="tabla__secundario">3</td>
                    <td class="tabla__secundario">$10000</td>
                    <td class="tabla__botones tabla__secundario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__primario">1</td>
                    <td class="tabla__primario">Lapiz</td>
                    <td class="tabla__primario">Kilometrico Negro</td>
                    <td class="tabla__primario">3</td>
                    <td class="tabla__primario">$10000</td>
                    <td class="tabla__botones tabla__primario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__secundario">1</td>
                    <td class="tabla__secundario">Lapiz</td>
                    <td class="tabla__secundario">Kilometrico Negro</td>
                    <td class="tabla__secundario">3</td>
                    <td class="tabla__secundario">$10000</td>
                    <td class="tabla__botones tabla__secundario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__primario">1</td>
                    <td class="tabla__primario">Lapiz</td>
                    <td class="tabla__primario">Kilometrico Negro</td>
                    <td class="tabla__primario">3</td>
                    <td class="tabla__primario">$10000</td>
                    <td class="tabla__botones tabla__primario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__secundario">1</td>
                    <td class="tabla__secundario">Lapiz</td>
                    <td class="tabla__secundario">Kilometrico Negro</td>
                    <td class="tabla__secundario">3</td>
                    <td class="tabla__secundario">$10000</td>
                    <td class="tabla__botones tabla__secundario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__primario">1</td>
                    <td class="tabla__primario">Lapiz</td>
                    <td class="tabla__primario">Kilometrico Negro</td>
                    <td class="tabla__primario">3</td>
                    <td class="tabla__primario">$10000</td>
                    <td class="tabla__botones tabla__primario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__secundario">1</td>
                    <td class="tabla__secundario">Lapiz</td>
                    <td class="tabla__secundario">Kilometrico Negro</td>
                    <td class="tabla__secundario">3</td>
                    <td class="tabla__secundario">$10000</td>
                    <td class="tabla__botones tabla__secundario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__primario">1</td>
                    <td class="tabla__primario">Lapiz</td>
                    <td class="tabla__primario">Kilometrico Negro</td>
                    <td class="tabla__primario">3</td>
                    <td class="tabla__primario">$10000</td>
                    <td class="tabla__botones tabla__primario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__secundario">1</td>
                    <td class="tabla__secundario">Lapiz</td>
                    <td class="tabla__secundario">Kilometrico Negro</td>
                    <td class="tabla__secundario">3</td>
                    <td class="tabla__secundario">$10000</td>
                    <td class="tabla__botones tabla__secundario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
                <tr>
                    <td class="tabla__primario">1</td>
                    <td class="tabla__primario">Lapiz</td>
                    <td class="tabla__primario">Kilometrico Negro</td>
                    <td class="tabla__primario">3</td>
                    <td class="tabla__primario">$10000</td>
                    <td class="tabla__botones tabla__primario">
                        <a class="tabla__botones--venta" href="#">Editar producto</a>
                        <a class="tabla__botones--eliminar" href="#">Eliminar producto</a>
                    </td>
                </tr>
            </table>
        </section>

        <section class="paginacion">
            <a class="paginacion__scroll" href="#">&laquo;</a>
            <a class="paginacion__numero" href="#">1</a>
            <a class="paginacion__numero" href="#">2</a>
            <a class="paginacion__numero" href="#">3</a>
            <a class="paginacion__numero" href="#">4</a>
            <a class="paginacion__numero" href="#">5</a>
            <a class="paginacion__numero" href="#">6</a>
            <a class="paginacion__numero" href="#">7</a>
            <a class="paginacion__numero" href="#">8</a>
            <a class="paginacion__numero" href="#">9</a>
            <a class="paginacion__numero" href="#">10</a>
            <a class="paginacion__scroll" href="#">&raquo;</a>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__texto">Versión 0.1.1</p>
        </div>
    </footer>
</body>
</html>