<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/reportes.css">
    <title>Papelería - La bendición de Dios</title>
</head>
<body>
    <header class="header">
        <div class="header__slogan">
            <p class="header__texto">Papelería y café internet | La bendición de Dios</p>
        </div>
        <nav class="nav">
            <div class="nav__links">
                <a class="nav__link" href="reportes.html"><img class="nav__link--icono" src="../public/img/hugeicons_apple-stocks.svg" alt="reportes">Reportes</a>
                <a class="nav__link" href="ventas.html"><img class="nav__link--icono" src="../public/img/solar_sale-square-linear.svg" alt="ventas">Ventas</a>
                <a class="nav__link" href="inventario.html"><img class="nav__link--icono" src="../public/img/hugeicons_shutterstock.svg" alt="invetario">Invetario</a>
            </div>
            <div class="nav__logout">
                <a class="nav__logout--link" href="../index.html"><img class="nav__logout--icono" src="../public/img/akar-icons_link-out.svg" alt="cerrar sesion">Cerrar sesión</a>
            </div>
        </nav>
    </header>

    <main class="contenedor__principal">
        <section class="info">
            <div class="info__grid">
                <div class="info__reportes">
                    <p class="info__texto">35<span>Ventas</span></p>
                </div>
                <div class="info__reportes">
                    <p class="info__texto">75k<span>Pesos vendidos</span></p>
                </div>
            </div>
            <div class="info__imagen">
                <p class="info__reportes--texto">Reporte del día 0 del 2025</p>
                <a href="#">
                    <img class="info__imagen--img" src="../public/img/Illustration - Business, Technology, startup _ account, preferences, user, profile, settings, woman, graph, analysis.svg" alt="reportes imagen">
                    <p class="info__texto--link">Haga click para visualizar el reporte gráfico</p>
                </a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__texto">Versión 0.1.1</p>
        </div>
    </footer>
</body>
</html>