/* Globales */
:root {
    --primario: #0090CE;
    --secundario: #0477A8;
    --primario_oscuro: #012C3F;
    --blanco: #FFF;
    --negro: #000000;
    --gris: #979dac;
    --fuentePrincipal: "Yaldevi", sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    font-weight: weight;
    font-style: normal;
    line-height: 1.8;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.contenido-principal {
    flex: 1;
}

/* Header y nav*/
.header__slogan{
    background-color: var(--primario);
}

.header__texto{
    margin: 0;
    padding: 2rem 2rem;
    text-align: center;
    color: var(--blanco);
    font-weight: 700;
}

.nav{
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    row-gap: 2rem;
}

.nav__links{
    display: flex;
    justify-content: space-around;
}

.nav__link{
    position: relative;
    display: flex;
    column-gap: 1rem;
    align-items: center;
    color: var(--blanco);
    font-weight: 500;
}

.nav__link::before{
    content: "|";
    position: absolute;
    top: 0;
    left: -1.7rem;
    font-weight: 700;
}

.nav__link:first-child::before{
    content: none;
}

.nav__link--icono{
    width: 3rem;
}

.nav__logout--link{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    color: var(--blanco);
    font-weight: 500;
}   

@media (min-width: 400px){
    .nav__link::before{
        left: -2.3rem;
    }
}

@media (min-width: 600px){
    .nav{
        flex-direction: row;
        justify-content: space-between;
    }

    .nav__links{
        width: 50rem;
    }

    .nav__logout--link{
        padding-right: 1rem;
    }

    .nav__link::before{
        left: -3.7rem;
    }
}

/* Contenido Main */
.herramientas{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 80%;
    margin-top: 5rem;
}

.herramienta{
    display: flex;
    align-items: center;
}

.herramienta__descarga img{
    width: 100%;
}

.herramienta__adicional{
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
    column-gap: 3rem;
}

.herramienta__filtro img{
    max-width: 100%;
}

.herramienta__nuevo{
    background-color: var(--primario_oscuro);
    color: var(--blanco);
    border-radius: 1rem;
    padding: 1rem;
}

.herramienta__nuevo--imagen{
    width: 2rem;
    margin: 0 auto;
}

.herramienta__nuevo span{
    font-size: 1.5rem;
}

@media (min-width: 769px){
    .herramienta__nuevo{
        display: flex;
        width: 20rem;
        padding: 2rem;
    }

    .herramienta__nuevo--imagen{
        display: inline-block;
        width: 2.5rem;
        margin-left: 1rem;
    }

    .herramienta__nuevo span{
        font-size: 1.7rem;
    }
}

.contenedor-tabla{
    overflow-x: auto;
    margin: 3rem 0 0 0;
}

.tabla{
    border-collapse: collapse;
}

.tabla__titulo{
    background-color: var(--primario_oscuro);
    color: var(--blanco);
    padding: 1rem;
}

td{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.tabla__primario{
    border: 2px solid #012C3F;
    background-color: var(--primario);
}

.tabla__secundario{
    border: 2px solid #012C3F;
    background-color: var(--secundario);
}

@media (min-width: 600px){
    .contenedor-tabla{
        overflow-x: hidden;
        display: flex;
        justify-content: center;
    }

    .tabla{
        max-width: 100%;
    }
}

@media (min-width: 768px){
    .tabla{
        width: 70rem;
    }
}
 
@media (min-width: 949px){
    .tabla{
        width: 85rem;
    }
}

@media (min-width: 1024px){
    .tabla{
        width: 130rem;
    }
}

@media (min-width: 1390px){
    .tabla{
        width: 170rem;
    }
}

.tabla__botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    border: 1px solid #012C3F;
    padding: 1rem;
}

.tabla__botones--venta{
    background-color: var(--primario_oscuro);
    padding: 0.5rem;
    color: var(--blanco);
    width: 8rem;
    border-radius: 1rem;
}

.tabla__botones--eliminar{
    background-color: var(--blanco);
    padding: 0.5rem;
    color: var(--primario_oscuro);
    width: 8rem;
    border-radius: 1rem;
}

@media (min-width: 930px){
    .tabla__botones{
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }

    .tabla__botones--venta{
        width: 15rem;
    }

    .tabla__botones--eliminar{
        width: 15rem;
    }
}

.paginacion{
    margin: 3rem 0 0 0;
    display: flex;
    justify-content: center;
}

.paginacion__scroll, .paginacion__numero{
    font-size: 2rem;
    padding: 1rem;
    color: var(--negro);
    font-weight: 700;
}

@media (min-width: 768px){
    .paginacion__scroll, .paginacion__numero{
        font-size: 2.5rem;
        padding: 2rem;
        color: var(--negro);
    }
}

/* Footer */
.footer {
    margin-top: auto;
}

.footer__contenedor{
    padding: 0 0 2rem 0;
}

.footer__texto{
    text-align: center;
    color: var(--gris);
    font-weight: 400;
    
}

@media (min-width: 769px){
    .footer__contenedor{
        padding: 0 0 2rem 0;
    }
}
